<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">WebSiteName</a>
            <a class="navbar-brand" href="/user/formlogin">Login</a>
            <a class="navbar-brand" href="/user/logout">Logout</a>
        </div>
        <ul class="nav">
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown">User
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/user/createUser">Thêm mới User</a></li>
                    <li><a href="/user/getUser">List User</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Album
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/album/createAlbum">Thêm mới Album</a></li>
                    <li><a href="/album/getAlbum">List Album</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Playlist
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/playlist/createPlaylist">Thêm mới Playlist</a></li>
                    <li><a href="/playlist/getPlaylist">List Playlist</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Story
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/story/createStory">Thêm mới Story</a></li>
                    <li><a href="/story/getStory">List Story</a></li>
                    <li><a href="#">Page 1-3</a></li>
                </ul>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Songs
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/song/createSong">Thêm mới Song</a></li>
                    <li><a href="/song/getSong">List Song</a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>