<div class="mt-4">
    <div class="row">
        <div class="col-lg-12">
            <h2>{{user.name}}</h2>
            <img width250="150" height="100" src="/img/{{user.avatar}}" alt="" />
            <p>{{user.description}}</p>
        </div>
    </div>
</div>