<h2>Đăng nhập</h2>
<div class="mt-4">
    <form method="POST" action="/user/login">
        <div class="mb-3 mt-4">
            <label for="name" class="form-label">Name User</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3 mt-4">
            <label for="password" class="form-label">Password</label>
            <input type="password" name="password" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Thêm người dùng</button>
    </form>
</div>