<h2>Thêm mới Album</h2>
<div class="mt-4">
    <form method="POST" action="/album/createAlbum" enctype="multipart/form-data">
        <div class="mb-3 mt-4">
            <label for="name" class="form-label">Name Album</label>
            <input type="text" name="name" class="form-control">
        </div>
        <div class="mb-3 mt-4">
            <label for="avatar" class="form-label">Avatar Album</label>
            <input type="file" name="avatar" class="form-control">
        </div>
        <div class="mb-3 mt-4">
            <label for="author" class="form-label">author</label>
            <input type="text" name="author" class="form-control">
        </div>
        <div class="mb-3 mt-4">
            <label for="description" class="form-label">Album description</label>
            <input type="text" name="description" class="form-control">
        </div>
        <button type="submit" class="btn btn-primary mt-4">Thêm Album</button>
    </form>
</div>