@import '_valibale';
@import 'globalstyle';




* {
    padding: 0;
    margin: 0;
    box-sizing: inherit;
}

body {
    background-color: #f5f5f5;
    border: none;
}

html {
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
    width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.wrapper {
    width: 100vw;
    height: 90vh;
    display: flex;
}

%styleMenuItem {
    height: 40px;
    padding: 7px 25px;
    opacity: 0.8;

    i {
        font-size: 20px;
        color: #fff;
    }

    span {
        margin-left: 8px;
        color: #fff;
        font-weight: 500;
    }

    &:hover {
        opacity: 1;
    }

    &.active {
        opacity: 1;
        background-color: #393243;
        border-left: 3px solid #7210A1;

    }
}



.menu {
    width: 15%;
    background-color: $primary-color;
    opacity: 0.95;

    .item {
        @extend %styleMenuItem;
    }

    .active {
        .item {
            opacity: 1;
            background-color: #393243;
            border-left: 3px solid #7210A1;
        }
    }


    .menu-header {



        .logo {
            width: 100%;
            height: 80px;
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                width: 80px;
                height: 80px;
            }
        }

        .menu-list-items {
            width: 100%;
            cursor: pointer;
        }
    }

    .menu-content {
        .content-gadient {
            margin: 0 25px;
            width: 80%;
            height: 20px;
            border-top: 1px solid #393243;
        }

        .content-items {
            height: 285px;
            overflow-y: scroll;

            .content-library {
                &:hover .library-title i {
                    display: inline-block;
                }

                .library-title {
                    padding: 7px 25px;
                    color: #fff;


                    i {
                        margin-left: 20px;
                        padding: 6px;
                        border-radius: 50%;
                        display: none;

                        &:hover {
                            background-color: rgba(255, 255, 255, 0.066);
                        }
                    }

                    span {
                        font-weight: 600;
                        font-size: 18px;
                    }
                }

                .item-song {
                    @extend %styleMenuItem;
                }

                .item-playlist {
                    @extend %styleMenuItem;
                }

                .item-history {
                    @extend %styleMenuItem;
                }
            }
        }

    }

    .menu-button-add-playlist {
        width: 100%;
        height: 60px;
        border: none;
        border-top: 1px solid #393243;
        outline: none;
        background-color: transparent;
        color: #fff;

        span {
            font-size: 16px;
            font-weight: 600;
        }


    }

}

.content {
    width: 85%;
    height: 100%;
    background-color: $primary-color;
    position: relative;
    overflow-y: scroll;



    .content-header {
        width: 85%;
        height: 80px;
        border-bottom: 1px solid #393243;
        background-color: $primary-color;
        position: fixed;
        top: 0;
        right: 0;
        z-index: 100;

        .header-body {
            height: 100%;
            margin: 0 60px;
            display: flex;
            // justify-content: center;
            align-items: center;

            .header-left {
                width: 70%;
                display: flex;

                .header-actions {
                    // width: 100px;
                    color: #fff;
                    display: flex;
                    align-items: center;

                    i {
                        margin-right: 20px;
                    }
                }

                .header-seach {
                    margin-left: 20px;
                    width: 50vw;
                    padding: 8px;
                    display: flex;
                    align-items: center;
                    background-color: #2F2739;
                    border-radius: 30px;
                    position: relative;

                    i {
                        color: #fff;
                        font-size: 18px;
                        padding: 0 10px;
                    }

                    input {
                        background-color: transparent;
                        border: none;
                        outline: none;
                        width: 90%;
                        color: #fff;
                    }
                }
            }

            .header-right {
                display: flex;
                margin-left: auto;

                %styheadRightItems {
                    i {
                        padding: 10px;
                        color: #fff;
                        border-radius: 50%;
                        background-color: #2F2739;
                        margin-left: 15px
                    }
                }

                .box-item {
                    @extend %styheadRightItems;
                    position: relative;

                    &:hover {
                        cursor: pointer;

                        .note-hover {
                            display: flex;
                        }
                    }

                    .note-hover {
                        position: absolute;
                        left: 0;
                        bottom: -30px;
                        width: 110px;
                        display: none;

                        span {
                            color: #fff;
                            font-size: 12px;
                            background-color: $background-hover;
                            padding: 6px;
                            border-radius: 5px;
                        }
                    }
                }

                &-user {
                    margin-left: 15px;

                    img {
                        width: 35px;
                        height: 35px;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .content-body {
        margin: 0 50px;
        min-height: 180%;
        padding-top: 200px;

        @import 'private';

        @import 'zingchat';
        @import 'radio';

        .render-playlist-song {
            display: flex;

            .item-left {
                width: 25%;

                .avart-playlist {
                    width: 100%;
                    position: relative;
                    overflow: hidden;
                    border-radius: 5px;

                    img {
                        width: 100%;
                    }


                }

                .title-playlist {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                    h4 {
                        align-items: center;
                    }

                    span {
                        color: $description-color;
                        font-size: 14px;
                        font-weight: 600;

                        a {
                            &:hover {
                                color: $button-color;
                                cursor: pointer;
                            }
                        }
                    }

                    button {
                        background-color: $button-color;
                        outline: none;
                        border: none;
                        padding: 8px 20px;
                        border-radius: 20px;
                        color: #fff;
                        margin-top: 15px;

                        span {
                            color: #fff;
                            padding: 0 5px;
                        }
                    }

                    .like-action {
                        margin-top: 20px;
                        color: #fff;

                        i {
                            padding: 10px;
                            border-radius: 50%;
                            margin: 3px;
                            background-color: $background-hover;
                        }
                    }
                }
            }

            .item-right {
                flex: 1;
                padding: 30px;

                .description-playlist-song {
                    span {
                        color: $description-color;
                    }

                    i {
                        color: #fff;
                    }
                }
            }
        }

        .render-athor {
            width: 100%;
            height: 100vh;


            .athor-first-body {
                width: 100%;
                height: 400px;
                padding: 20px;
                color: #fff;
                background-color: #302047;
                display: flex;
                justify-content: space-between;

                .first-athor-left {
                    width: 50%;
                    height: 100%;

                    h3 {
                        font-size: 40px;
                        font-weight: 700;
                    }

                    .author-follow {
                        padding: 10px 0;

                        span {
                            font-size: 18px;
                        }
                    }

                    .athor-action {
                        margin-top: 24px;

                        .button-follow {
                            width: 100%;
                            height: 50px;

                            span {
                                padding: 10px 20px;
                                border-radius: 30px;
                                background-color: $button-color;
                            }
                        }
                    }
                }

                .first-athor-right {
                    margin: auto;
                    width: 300px;
                    height: 300px;
                    border-radius: 50%;
                    overflow: hidden;

                    img {
                        width: 100%;
                        height: 100%;
                    }
                }
            }

        }

        .display-list-user {
            margin-top: 20px;

            .user-item {
                width: 100%;

                .avar-user {
                    width: 100%;
                    height: 270px;
                    border-radius: 50%;
                    overflow: hidden;
                    position: relative;

                    &:hover {
                        img {
                            opacity: 0.8;
                        }

                        .aver-hover {
                            display: flex;
                        }

                    }

                    img {
                        width: 100%;
                    }

                    .aver-hover {
                        width: 100%;
                        height: 100%;
                        position: absolute;
                        top: 45%;
                        left: 45%;
                        color: #fff;
                        display: none;

                        i {
                            font-size: 40px;

                            &:hover {
                                opacity: 0.8;
                            }
                        }
                    }


                }

                .user-title {
                    margin-top: 10px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;

                    span {
                        color: $description-color;

                        &.name {
                            font-size: 20px;
                            font-weight: 600;
                            color: #fff;
                        }

                    }

                    .btn-follow-user {
                        margin-top: 10px;
                        outline: none;
                        border: none;
                        background-color: $button-color;
                        padding: 10px 20px;
                        border-radius: 30px;
                        color: #fff;

                        span {
                            color: #fff;
                        }

                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }




    }
}

.footer {
    background-color: $primary-color;
    border-top: 1px solid #393243;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;



    .control {
        width: 30vw;
        display: flex;
        align-items: center;
        justify-content: center;


        .btn {
            color: #fff;
        }
    }

    .render-song {
        display: flex;
        width: 33vw;
        color: #8B8791;
        // margin-right: auto;
        margin-left: 60px;


        img {
            margin: 0 10px;
            width: 50px;
            height: 50px;
        }

        div {
            display: flex;
            flex-direction: column;

            .name {
                color: #fff;
            }
        }
    }

    .actions {
        width: 33vw;
    }
}


.like-item {
    color: #7200A1 !important;
}