.list-song .song {
  display: flex;
  align-items: center;
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #393243;
  border-radius: 3px;
  position: relative;
  transition: 600ms ease;
}
.list-song .song .song-leff {
  display: flex;
  align-items: center;
  width: 65%;
}
.list-song .song .song-leff h3 {
  color: #3F74B9;
  font-size: 40px;
  margin-left: 5%;
}
.list-song .song .song-leff i {
  color: #8B8791;
  margin-left: 5%;
}
.list-song .song .song-leff .song-avatar {
  height: 45px;
  width: 45px;
  margin-left: 5%;
  position: relative;
}
.list-song .song .song-leff .song-avatar img {
  width: 100%;
  height: 100%;
  border-radius: 3px;
}
.list-song .song .song-leff .song-avatar .avatar-hover {
  position: absolute;
  top: 15px;
  left: 15px;
  display: none;
}
.list-song .song .song-leff .song-avatar .avatar-hover i {
  color: #fff;
}
.list-song .song .song-leff .song-name {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.list-song .song .song-leff .song-name span {
  color: #84808B;
  margin-left: 10px;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.list-song .song .song-leff .song-name span.name {
  color: #fff;
}
.list-song .song .song-right {
  display: flex;
  align-items: center;
  width: 35%;
  justify-content: space-between;
}
.list-song .song .song-right span {
  color: #84808B;
  margin-right: 15px;
}
.list-song .song .hover-song {
  height: 100%;
  position: absolute;
  display: none;
  align-items: center;
  right: 0;
  top: 0;
}
.list-song .song .hover-song i {
  color: #fff;
  margin-right: 30px;
}
.list-song .song:hover {
  background-color: rgba(57, 50, 75, 0.2862745098);
}
.list-song .song:hover .hover-song {
  display: flex;
}
.list-song .song:hover .song-avatar img {
  opacity: 0.8;
}
.list-song .song:hover .song-avatar .avatar-hover {
  display: flex;
}
.list-song .song:hover .time {
  display: none;
}

.playlist-item {
  margin-top: 20px;
  height: 60px;
}
.playlist-item .song-item {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.playlist-item .song-item .avatar {
  width: 100%;
  height: 80%;
  position: relative;
  overflow: hidden;
}
.playlist-item .song-item .avatar img {
  width: 100%;
  height: 100%;
  transition: 600ms ease;
}
.playlist-item .song-item .avatar .hover-avatar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  display: none;
}
.playlist-item .song-item .avatar .hover-avatar i {
  color: #fff;
  padding: 0 15px;
}
.playlist-item .song-item .avatar .hover-avatar i.play {
  font-size: 40px;
}
.playlist-item .song-item .avatar .hover-avatar i:hover {
  color: #7210A1;
}
.playlist-item .song-item .avatar:hover img {
  transform: scale(1.1);
}
.playlist-item .song-item .avatar:hover .hover-avatar {
  display: flex;
}
.playlist-item .song-item .titlle {
  color: #84808B;
  margin-top: 10px;
}
.playlist-item .song-item .titlle span {
  font-size: 16px;
  font-weight: 600;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.playlist-item .song-item .titlle span .name {
  font-size: 18px;
}
.playlist-item .song-item .titlle span a:hover {
  color: #7210A1;
}

.list-live {
  margin-top: 20px;
}
.list-live .live-item {
  width: 100%;
  height: 250px;
}
.list-live .live-item .avart-radio {
  width: 100%;
  height: 177px;
  border-radius: 50%;
  position: relative;
}
.list-live .live-item .avart-radio .avar {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  position: relative;
}
.list-live .live-item .avart-radio .avar img {
  width: 100%;
  height: 100%;
  transition: 600ms ease;
}
.list-live .live-item .avart-radio .avar .avar-hover {
  position: absolute;
  top: 40%;
  right: 40%;
  display: none;
}
.list-live .live-item .avart-radio .avar .avar-hover i {
  color: #fff;
  font-size: 40px;
}
.list-live .live-item .avart-radio .avar .avar-hover i:hover {
  opacity: 0.88;
}
.list-live .live-item .avart-radio .user {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: absolute;
  bottom: 10px;
  right: 5px;
}
.list-live .live-item .avart-radio .user img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.list-live .live-item .avart-radio .live-box {
  width: 35px;
  height: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF0A0A;
  border-radius: 3px;
  position: absolute;
  bottom: -5px;
  right: 70px;
}
.list-live .live-item .avart-radio .live-box span {
  color: #fff;
  font-size: 12px;
  font-weight: 600;
}
.list-live .live-item .avart-radio:hover .avar img {
  transform: scale(1.2);
  opacity: 0.8;
}
.list-live .live-item .avart-radio:hover .avar .avar-hover {
  display: flex;
}
.list-live .live-item .title-radio {
  margin-top: 15px;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: #87838C;
}

.list-category {
  margin-top: 20px;
}
.list-category .category-item {
  width: 100%;
  height: 200px;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.list-category .category-item img {
  width: 100%;
  height: 100%;
  transition: 600ms ease;
}
.list-category .category-item span {
  position: absolute;
  color: #fff;
  font-size: 25px;
  font-weight: 800;
  top: 60%;
  left: 25%;
}
.list-category .category-item:hover img {
  transform: scale(1.2);
}

.wrap-list-post {
  display: flex;
  justify-content: space-around;
}
.wrap-list-post .list-post {
  width: 32%;
}
.wrap-list-post .list-post .post-item {
  width: 100%;
  background-color: #2F2739;
  border-radius: 5px;
  padding: 20px;
  margin: 15px 0;
}
.wrap-list-post .list-post .post-item .post-header {
  width: 100%;
  min-height: 50px;
}
.wrap-list-post .list-post .post-item .post-header .user-time {
  width: 100%;
  display: flex;
  align-items: center;
}
.wrap-list-post .list-post .post-item .post-header .user-time .avar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.wrap-list-post .list-post .post-item .post-header .user-time .avar img {
  width: 100%;
  height: 100%;
  transition: 600ms ease;
}
.wrap-list-post .list-post .post-item .post-header .user-time .avar img:hover {
  transform: scale(1.1);
}
.wrap-list-post .list-post .post-item .post-header .user-time .name-time {
  margin-left: 10px;
}
.wrap-list-post .list-post .post-item .post-header .user-time .name-time .username .name {
  font-weight: 700;
  color: #fff;
}
.wrap-list-post .list-post .post-item .post-header .user-time .name-time .username .dot {
  color: #fff;
  font-weight: 1000;
  padding: 5px;
}
.wrap-list-post .list-post .post-item .post-header .user-time .name-time .username .flow {
  font-weight: 500;
  color: #BF60E7;
}
.wrap-list-post .list-post .post-item .post-header .user-time .name-time span {
  color: #827D88;
  font-size: 14px;
  font-weight: 500;
}
.wrap-list-post .list-post .post-item .post-header .post-description span {
  color: #fff;
}
.wrap-list-post .list-post .post-item .post-body {
  margin-top: 10px;
  width: 100%;
  height: 500px;
  border-radius: 5px;
  background-color: #fff;
}
.wrap-list-post .list-post .post-item .post-body img {
  width: 100%;
}
.wrap-list-post .list-post .post-item .body-footer {
  margin-top: 10px;
  display: flex;
  align-items: center;
  color: #fff;
}
.wrap-list-post .list-post .post-item .body-footer .heat {
  padding-right: 20px;
}

.table-body {
  margin-top: 30px;
}
.table-body tr {
  color: #8B8791;
}
.table-body tr th {
  border-bottom: none;
}
.table-body tr th.time {
  display: flex;
  justify-content: space-between;
}
.table-body tbody tr {
  cursor: pointer;
  transition: 600ms ease;
}
.table-body tbody tr:hover {
  background-color: #393243;
}
.table-body tbody tr:hover .song-name .avart-song img {
  opacity: 0.7;
}
.table-body tbody tr:hover .song-name .avart-song .avart-hover {
  display: flex;
}
.table-body tbody tr:hover td.song-actions .status-song .mic-song i {
  display: flex;
}
.table-body tbody tr:hover td.song-actions .status-song .heart-time .time-song span {
  display: none;
}
.table-body tbody tr:hover td.song-actions .status-song .heart-time .time-song i {
  display: flex;
}
.table-body tbody tr td.song-name {
  display: flex;
  align-items: center;
}
.table-body tbody tr td.song-name .avart-song {
  width: 50px;
  height: 50px;
  border-radius: 5px;
  margin: 0 10px;
  overflow: hidden;
  position: relative;
}
.table-body tbody tr td.song-name .avart-song img {
  width: 100%;
  height: 100%;
}
.table-body tbody tr td.song-name .avart-song .avart-hover {
  position: absolute;
  top: 30%;
  right: 30%;
  display: none;
}
.table-body tbody tr td.song-name div {
  display: flex;
  flex-direction: column;
}
.table-body tbody tr td.song-name i {
  color: #fff;
}
.table-body tbody tr td.song-album span {
  line-height: 300%;
}
.table-body tbody tr td.song-actions {
  flex: 1;
}
.table-body tbody tr td.song-actions .status-song {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}
.table-body tbody tr td.song-actions .status-song .mic-song {
  bottom: 0;
  color: #fff;
}
.table-body tbody tr td.song-actions .status-song .mic-song i {
  position: absolute;
  display: none;
  top: 30%;
}
.table-body tbody tr td.song-actions .status-song .heart-time {
  margin-left: 20px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}
.table-body tbody tr td.song-actions .status-song .heart-time i {
  color: #7200A1;
}
.table-body tbody tr td.song-actions .status-song .heart-time .time-song span {
  position: absolute;
  right: 10%;
  top: 20%;
}
.table-body tbody tr td.song-actions .status-song .heart-time .time-song i {
  position: absolute;
  right: 15%;
  top: 30%;
  color: #fff;
  display: none;
}

.title-box {
  color: #fff;
  font-weight: 600;
  font-size: 25px;
}

.name {
  color: #fff;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.mgt-200 {
  margin-top: 200px;
}

.mgt-20 {
  margin-top: 20px;
}

.discover-wrapper {
  margin-top: -100px;
}
.discover-wrapper #slide .carousel-inner .carousel-item img + img {
  margin-left: 100px;
}
.discover-wrapper #slide .carousel-inner .carousel-item img {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  margin-left: 150px;
}
.discover-wrapper .discover-item {
  margin-top: 100px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  background-color: #f5f5f5;
  border: none;
}

html {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.wrapper {
  width: 100vw;
  height: 90vh;
  display: flex;
}

.menu .menu-content .content-items .content-library .item-history, .menu .menu-content .content-items .content-library .item-playlist, .menu .menu-content .content-items .content-library .item-song, .menu .item {
  height: 40px;
  padding: 7px 25px;
  opacity: 0.8;
}
.menu .menu-content .content-items .content-library .item-history i, .menu .menu-content .content-items .content-library .item-playlist i, .menu .menu-content .content-items .content-library .item-song i, .menu .item i {
  font-size: 20px;
  color: #fff;
}
.menu .menu-content .content-items .content-library .item-history span, .menu .menu-content .content-items .content-library .item-playlist span, .menu .menu-content .content-items .content-library .item-song span, .menu .item span {
  margin-left: 8px;
  color: #fff;
  font-weight: 500;
}
.menu .menu-content .content-items .content-library .item-history:hover, .menu .menu-content .content-items .content-library .item-playlist:hover, .menu .menu-content .content-items .content-library .item-song:hover, .menu .item:hover {
  opacity: 1;
}
.menu .menu-content .content-items .content-library .active.item-history, .menu .menu-content .content-items .content-library .active.item-playlist, .menu .menu-content .content-items .content-library .active.item-song, .menu .active.item {
  opacity: 1;
  background-color: #393243;
  border-left: 3px solid #7210A1;
}

.menu {
  width: 15%;
  background-color: #170F23;
  opacity: 0.95;
}
.menu .active .item {
  opacity: 1;
  background-color: #393243;
  border-left: 3px solid #7210A1;
}
.menu .menu-header .logo {
  width: 100%;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu .menu-header .logo img {
  width: 80px;
  height: 80px;
}
.menu .menu-header .menu-list-items {
  width: 100%;
  cursor: pointer;
}
.menu .menu-content .content-gadient {
  margin: 0 25px;
  width: 80%;
  height: 20px;
  border-top: 1px solid #393243;
}
.menu .menu-content .content-items {
  height: 285px;
  overflow-y: scroll;
}
.menu .menu-content .content-items .content-library:hover .library-title i {
  display: inline-block;
}
.menu .menu-content .content-items .content-library .library-title {
  padding: 7px 25px;
  color: #fff;
}
.menu .menu-content .content-items .content-library .library-title i {
  margin-left: 20px;
  padding: 6px;
  border-radius: 50%;
  display: none;
}
.menu .menu-content .content-items .content-library .library-title i:hover {
  background-color: rgba(255, 255, 255, 0.066);
}
.menu .menu-content .content-items .content-library .library-title span {
  font-weight: 600;
  font-size: 18px;
}
.menu .menu-button-add-playlist {
  width: 100%;
  height: 60px;
  border: none;
  border-top: 1px solid #393243;
  outline: none;
  background-color: transparent;
  color: #fff;
}
.menu .menu-button-add-playlist span {
  font-size: 16px;
  font-weight: 600;
}

.content {
  width: 85%;
  height: 100%;
  background-color: #170F23;
  position: relative;
  overflow-y: scroll;
}
.content .content-header {
  width: 85%;
  height: 80px;
  border-bottom: 1px solid #393243;
  background-color: #170F23;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.content .content-header .header-body {
  height: 100%;
  margin: 0 60px;
  display: flex;
  align-items: center;
}
.content .content-header .header-body .header-left {
  width: 70%;
  display: flex;
}
.content .content-header .header-body .header-left .header-actions {
  color: #fff;
  display: flex;
  align-items: center;
}
.content .content-header .header-body .header-left .header-actions i {
  margin-right: 20px;
}
.content .content-header .header-body .header-left .header-seach {
  margin-left: 20px;
  width: 40vw;
  padding: 8px;
  display: flex;
  align-items: center;
  background-color: #2F2739;
  border-radius: 30px;
}
.content .content-header .header-body .header-left .header-seach i {
  color: #fff;
  font-size: 18px;
  padding: 0 10px;
}
.content .content-header .header-body .header-left .header-seach input {
  background-color: transparent;
  border: none;
  outline: none;
  width: 90%;
  color: #fff;
}
.content .content-header .header-body .header-right {
  display: flex;
  margin-left: auto;
}
.content .content-header .header-body .header-right .box-item i {
  padding: 10px;
  color: #fff;
  border-radius: 50%;
  background-color: #2F2739;
  margin-left: 15px;
}
.content .content-header .header-body .header-right .box-item {
  position: relative;
}
.content .content-header .header-body .header-right .box-item:hover {
  cursor: pointer;
}
.content .content-header .header-body .header-right .box-item:hover .note-hover {
  display: flex;
}
.content .content-header .header-body .header-right .box-item .note-hover {
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 110px;
  display: none;
}
.content .content-header .header-body .header-right .box-item .note-hover span {
  color: #fff;
  font-size: 12px;
  background-color: #2F2739;
  padding: 6px;
  border-radius: 5px;
}
.content .content-header .header-body .header-right-user {
  margin-left: 15px;
}
.content .content-header .header-body .header-right-user img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.content .content-body {
  margin: 0 50px;
  min-height: 180%;
  padding-top: 200px;
}
.content .content-body .content-body-wrapper-title {
  display: flex;
  align-items: center;
}
.content .content-body .content-body-wrapper-title h2 {
  color: #fff;
  font-size: 45px;
}
.content .content-body .content-body-wrapper-title i {
  margin-left: 40px;
  color: #fff;
  padding: 15px;
  background-color: #7200A1;
  border-radius: 50%;
}
.content .content-body .content-body-container {
  margin-top: 30px;
}
.content .content-body .content-body-container .body-library .library-tabs {
  width: 100%;
  padding: 15px 0;
  border-bottom: 1px solid #393243;
}
.content .content-body .content-body-container .body-library .library-tabs .tabs {
  color: #fff;
  padding: 15px 0;
  margin-right: 20px;
}
.content .content-body .content-body-container .body-library .library-tabs .tabs.active {
  border-bottom: 3px solid #7200A1;
}
.content .content-body .content-body-container .body-library .library-filter {
  margin-top: 30px;
}
.content .content-body .content-body-container .body-library .library-filter span {
  padding: 5px;
  border-radius: 10px;
  color: #fff;
}
.content .content-body .content-body-container .body-library .library-filter .library-like {
  background-color: #7200A1;
}
.content .content-body .content-body-container .body-library .library-filter .library-upload {
  margin-left: 30px;
  border: 1px solid #fff;
}
.content .content-body .zingchat-wrapper .tops-week {
  width: 100%;
  height: 500px;
  margin-top: 50px;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list {
  margin-top: 15px;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top {
  width: 100%;
  height: 450px;
  background-color: #2D223F;
  border-radius: 20px;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top .top-title {
  display: flex;
  width: 100%;
  align-items: center;
  padding: 10px;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top .top-title h2 {
  color: #fff;
  font-weight: 700;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top .top-title i {
  margin-left: 15px;
  color: #fff;
  padding: 12px;
  background-color: #7200A1;
  border-radius: 50%;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top .show-all-topic {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .content-body .zingchat-wrapper .tops-week .tops-list .item-top .show-all-topic .btn-show-topic {
  border: none;
  background-color: transparent;
  color: #fff;
  padding: 10px 20px;
  border: 1px solid #fff;
  border-radius: 30px;
}
.content .content-body .radio-wrapper .list-radio {
  margin-top: 20px;
}
.content .content-body .radio-wrapper .list-radio .radio-item {
  width: 100%;
  height: 90px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  position: relative;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-avatar {
  width: 20%;
  height: 20%;
  position: relative;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-avatar img {
  border-radius: 5px;
  width: 70px;
  height: 70px;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-avatar .avartar-hover {
  position: absolute;
  top: 25px;
  left: 25px;
  display: none;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-avatar .avartar-hover i {
  color: #fff;
  font-size: 25px;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-name {
  margin-left: 4%;
  width: 60%;
  display: flex;
  flex-direction: column;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-name span {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  color: #84808B;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-name span.name {
  color: #fff;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-hover {
  color: #fff;
  position: absolute;
  bottom: 10px;
  right: 10px;
  display: none;
}
.content .content-body .radio-wrapper .list-radio .radio-item .radio-hover i {
  margin-right: 20px;
}
.content .content-body .radio-wrapper .list-radio .radio-item:hover {
  background-color: #2F2739;
}
.content .content-body .radio-wrapper .list-radio .radio-item:hover .radio-hover {
  display: flex;
}
.content .content-body .radio-wrapper .list-radio .radio-item:hover img {
  opacity: 0.8;
}
.content .content-body .radio-wrapper .list-radio .radio-item:hover .avartar-hover {
  display: flex;
}
.content .content-body .render-playlist-song {
  display: flex;
}
.content .content-body .render-playlist-song .item-left {
  width: 25%;
}
.content .content-body .render-playlist-song .item-left .avart-playlist {
  width: 100%;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.content .content-body .render-playlist-song .item-left .avart-playlist img {
  width: 100%;
}
.content .content-body .render-playlist-song .item-left .title-playlist {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.content .content-body .render-playlist-song .item-left .title-playlist h4 {
  align-items: center;
}
.content .content-body .render-playlist-song .item-left .title-playlist span {
  color: #88848E;
  font-size: 14px;
  font-weight: 600;
}
.content .content-body .render-playlist-song .item-left .title-playlist span a:hover {
  color: #7200A1;
  cursor: pointer;
}
.content .content-body .render-playlist-song .item-left .title-playlist button {
  background-color: #7200A1;
  outline: none;
  border: none;
  padding: 8px 20px;
  border-radius: 20px;
  color: #fff;
  margin-top: 15px;
}
.content .content-body .render-playlist-song .item-left .title-playlist button span {
  color: #fff;
  padding: 0 5px;
}
.content .content-body .render-playlist-song .item-left .title-playlist .like-action {
  margin-top: 20px;
  color: #fff;
}
.content .content-body .render-playlist-song .item-left .title-playlist .like-action i {
  padding: 10px;
  border-radius: 50%;
  margin: 3px;
  background-color: #2F2739;
}
.content .content-body .render-playlist-song .item-right {
  flex: 1;
  padding: 30px;
}
.content .content-body .render-playlist-song .item-right .description-playlist-song span {
  color: #88848E;
}
.content .content-body .render-playlist-song .item-right .description-playlist-song i {
  color: #fff;
}
.content .content-body .display-list-user {
  margin-top: 20px;
}
.content .content-body .display-list-user .user-item {
  width: 100%;
}
.content .content-body .display-list-user .user-item .avar-user {
  width: 100%;
  height: 270px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
}
.content .content-body .display-list-user .user-item .avar-user:hover img {
  opacity: 0.8;
}
.content .content-body .display-list-user .user-item .avar-user:hover .aver-hover {
  display: flex;
}
.content .content-body .display-list-user .user-item .avar-user img {
  width: 100%;
}
.content .content-body .display-list-user .user-item .avar-user .aver-hover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 45%;
  left: 45%;
  color: #fff;
  display: none;
}
.content .content-body .display-list-user .user-item .avar-user .aver-hover i {
  font-size: 40px;
}
.content .content-body .display-list-user .user-item .avar-user .aver-hover i:hover {
  opacity: 0.8;
}
.content .content-body .display-list-user .user-item .user-title {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .content-body .display-list-user .user-item .user-title span {
  color: #88848E;
}
.content .content-body .display-list-user .user-item .user-title span.name {
  font-size: 20px;
  font-weight: 600;
  color: #fff;
}
.content .content-body .display-list-user .user-item .user-title .btn-follow-user {
  margin-top: 10px;
  outline: none;
  border: none;
  background-color: #7200A1;
  padding: 10px 20px;
  border-radius: 30px;
  color: #fff;
}
.content .content-body .display-list-user .user-item .user-title .btn-follow-user span {
  color: #fff;
}
.content .content-body .display-list-user .user-item .user-title .btn-follow-user:hover {
  opacity: 0.8;
}

.footer {
  background-color: #170F23;
  border-top: 1px solid #393243;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .control {
  width: 30vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer .control .btn {
  color: #fff;
}
.footer .render-song {
  display: flex;
  width: 33vw;
  color: #8B8791;
  margin-left: 60px;
}
.footer .render-song img {
  margin: 0 10px;
  width: 50px;
  height: 50px;
}
.footer .render-song div {
  display: flex;
  flex-direction: column;
}
.footer .render-song div .name {
  color: #fff;
}
.footer .actions {
  width: 33vw;
}/*# sourceMappingURL=home.css.map */