.zingchat-wrapper {

    .tops-week {
        width: 100%;
        height: 500px;
        margin-top: 50px;

        .tops-list {
            margin-top: 15px;

            .item-top {
                width: 100%;
                background-color: #2D223F;
                border-radius: 20px;

                .top-title {
                    display: flex;
                    width: 100%;
                    align-items: center;
                    padding: 10px;

                    h2 {
                        color: #fff;
                        font-weight: 700;
                    }

                    i {
                        margin-left: 15px;
                        color: #fff;
                        padding: 12px;
                        background-color: #7200A1;
                        border-radius: 50%;
                    }
                }


            }
        }
    }
}