Skip to content
Product 
Team
Enterprise
Explore 
Marketplace
Pricing 
Search
Sign in
Sign up
12-DinhQuan
/
zingMp3
Public
Code
Issues
Pull requests
Actions
Projects
Wiki
Security
Insights
zingMp3/server/.gitignore
@12-DinhQuan
12-DinhQuan start
Latest commit 26d8b14 16 minutes ago
 History
 1 contributor
23 lines (18 sloc)  310 Bytes
   
# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
© 2022 GitHub, Inc.
Terms
Privacy
Security
Status
Docs
Contact GitHub
Pricing
API
Training
Blog
About
Loading complete